@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Gochi+Hand&family=Pacifico&display=swap");

/* font-family: "Gochi Hand", cursive; */

/* Reset the default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(223, 223, 223, 0.425);
}
/* main body styles */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  min-height: 700px;
  max-width: 1000px;
}

/* input-field Styles */
.quote-display {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid rgba(170, 170, 170, 0.575);
  border-radius: 10px;
  padding: 2rem;
}
.quote-title,
.quote-content,
.quote-author {
  width: 100%;
  text-align: center;
  padding: 1rem;
  letter-spacing: 2px;
  word-wrap: break-word;
}
.quote-title {
  font-size: 3rem;
  font-weight: bolder;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}

.input-btn {
  background-color: rgba(155, 155, 155, 0.336);
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 10px 10px;
  outline: none;
}
.footer {
  font-family: "Architects Daughter";
  margin: 5rem;
}
.footer p a {
  text-decoration: none;
  color: rgb(124, 124, 236);
}
